.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  padding-bottom: 32px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox___6La3N {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: DxXMYMBP43hN */;
}
.freeBox___12Oox {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___12Oox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___12Oox > :global(.__wab_flex-container) > *,
.freeBox___12Oox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___12Oox > :global(.__wab_flex-container) > picture > img,
.freeBox___12Oox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___12Oox {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___12Oox > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___12Oox > :global(.__wab_flex-container) > *,
  .freeBox___12Oox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___12Oox > :global(.__wab_flex-container) > picture > img,
  .freeBox___12Oox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__a28OK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__a28OK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__a28OK > :global(.__wab_flex-container) > *,
.freeBox__a28OK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a28OK > :global(.__wab_flex-container) > picture > img,
.freeBox__a28OK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__krwps:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__iz4Ld {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox__fEr26 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__mDjoR {
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__mDjoR:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__pkMtn {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
}
.link__gwsrM {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__gwsrM:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__ucScV {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ucScV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ucScV > :global(.__wab_flex-container) > *,
.freeBox__ucScV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ucScV > :global(.__wab_flex-container) > picture > img,
.freeBox__ucScV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ucScV {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ucScV > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ucScV > :global(.__wab_flex-container) > *,
  .freeBox__ucScV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ucScV > :global(.__wab_flex-container) > picture > img,
  .freeBox__ucScV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__hyNyw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__hyNyw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hyNyw > :global(.__wab_flex-container) > *,
.freeBox__hyNyw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hyNyw > :global(.__wab_flex-container) > picture > img,
.freeBox__hyNyw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__eXm92 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__j5ECe {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
}
.root .link__j5ECe:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__id2V4 {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__id2V4:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dlh1Z {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__dlh1Z:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vybP6 {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__vybP6:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__gwZl9 {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__gwZl9:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__vIzNx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__vIzNx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vIzNx > :global(.__wab_flex-container) > *,
.freeBox__vIzNx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vIzNx > :global(.__wab_flex-container) > picture > img,
.freeBox__vIzNx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___2Eu10 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__jcGb7 {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__jcGb7:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___4Vaf4 {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link___4Vaf4:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ryeC {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__ryeC:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___9DsFp {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link___9DsFp:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__uRjjp {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__uRjjp:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__ehyGg {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__ehyGg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ehyGg > :global(.__wab_flex-container) > *,
.freeBox__ehyGg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ehyGg > :global(.__wab_flex-container) > picture > img,
.freeBox__ehyGg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__iVc8K {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__gRYrs {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__gRYrs:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__j1Ein {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__j1Ein:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__rGFvm {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__rGFvm:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hTr6B {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__hTr6B:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__d4Zu {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__d4Zu:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__tFx8Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__tFx8Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tFx8Q > :global(.__wab_flex-container) > *,
.freeBox__tFx8Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tFx8Q > :global(.__wab_flex-container) > picture > img,
.freeBox__tFx8Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__aD7L7 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.freeBox___0U8Hk {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
}
.freeBox__oXRvK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 0px;
}
.freeBox__mHvSt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1px;
  height: 16px;
  background: rgb(228, 230, 235);
  flex-shrink: 0;
}
.button {
  position: relative;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-style: none;
}
.svg__uEyt7 {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  flex-shrink: 0;
}
.freeBox__yKrA2 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: DxXMYMBP43hN */;
}
.freeBox__ofDdE {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__ofDdE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ofDdE {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ofDdE > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ofDdE > :global(.__wab_flex-container) > *,
  .freeBox__ofDdE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ofDdE > :global(.__wab_flex-container) > picture > img,
  .freeBox__ofDdE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__gsS2G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__x27L3 {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  height: auto;
  font-size: 14px;
}
.root .link__x27L3:hover {
  text-decoration-line: underline;
}
.link__gU81A {
  position: relative;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  font-size: 14px;
}
.root .link__gU81A:hover {
  text-decoration-line: underline;
}
.freeBox__fdpes {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: QwZvcD8PMlXH */;
  display: inline-block;
}
.freeBox__ySab {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ySab > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ySab > :global(.__wab_flex-container) > *,
.freeBox__ySab > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ySab > :global(.__wab_flex-container) > picture > img,
.freeBox__ySab
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__b3Ioa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hVfFi {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__hVfFi:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___50La0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eoGjb {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__eoGjb:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__w8AI4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lWhnv {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__lWhnv:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
