.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.freeBox__mDl4B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mDl4B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mDl4B > :global(.__wab_flex-container) > *,
.freeBox__mDl4B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mDl4B > :global(.__wab_flex-container) > picture > img,
.freeBox__mDl4B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__gwjw0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__gwjw0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gwjw0 > :global(.__wab_flex-container) > *,
.freeBox__gwjw0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gwjw0 > :global(.__wab_flex-container) > picture > img,
.freeBox__gwjw0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mWpDe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___1JSJw {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1JSJw {
    font-size: 48px;
  }
}
.freeBox___3NnvY {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3NnvY {
    font-size: 48px;
  }
}
.freeBox__qmbQl {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qmbQl {
    font-size: 24px;
  }
}
.freeBox___1XNP {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1XNP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___1XNP > :global(.__wab_flex-container) > *,
.freeBox___1XNP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1XNP > :global(.__wab_flex-container) > picture > img,
.freeBox___1XNP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.linkButton__wy7ZU:global(.__wab_instance) {
  position: relative;
}
.linkButton__kULe:global(.__wab_instance) {
  position: relative;
}
.freeBox__h5KnN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-top: 32px;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
